@import '../exercise';


.coding.exercise {
    @extend .exercise;

    .test-cases {
        .test-case {
            .header {
                padding: 0.2em;
                font-weight: bold;
                font-size: 1.2em;
                user-select: none;
                cursor: pointer;
            }

            .assertions {
                width: 70%;
                margin: 1em auto;

                .assertion {
                    border: 1px solid black;
                    margin: 0.2em 0em;

                    header {
                        padding: 0.2em;
                        color: black;
                        font-weight: bold;
                        font-size: 1em;
                        user-select: none;
                    }

                    .assertion-content {
                        padding: 0em 1em;
                    }
                }

                .assertion.pass {
                    header {
                        background: #AFA;
                    }
                }

                .assertion.fail {
                    header {
                        background: #FAA;
                    }
                }

                .assertion.skip {
                    header {
                        background: #888;
                    }
                }
            }
        }
    }
}
