@import '../exercise';


.interpretation.exercise {
    @extend .exercise;

    .source-code-viewer {
        width: 50%;
        margin: 1em auto;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}
