.exercise {
    width: 80%;    
    border: 1px solid black;
    box-shadow: 5px 5px #CCC;
    background: #EED;

    header {
        background: black;
        color: white;
        font-size: 150%;
        padding: 0.2em 0.5em;

        .difficulty-viewer {
            width: 4em;
        }
    }

    .description {
        margin: 0.25em 1em;
    }

    .test-cases {
        width: 80%;
        margin: 1em auto;

        .test-case {
            margin: 0.5em 0em;
            border-top: 1px solid #AAA;
            border-bottom: 1px solid #AAA;

            &.pass {
                border-left: 10px solid green;
                
                background: #DFD;

                .header {
                    background: #AFA;
                }
            }

            &.fail {
                border-left: 10px solid red;
                background: #FDD;

                .header {
                    background: #FAA;
                }
            }

            &.skip {
                border-left: 10px solid gray;
                background: #DDD;

                .header {
                    background: #AAA;
                }
            }
        }
    }    
}
