.exercise {
    width: 80%;    
    border: 1px solid black;
    box-shadow: 5px 5px #CCC;
    background: #EEED;

    header {
        background: black;
        color: white;
        font-size: 150%;
        padding: 0.2em 0.5em;
    }
}
