.animation-viewer {    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .animation-container {
        background: white;
    }

    .controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: black;
        padding: 5px 10px;

        .slider {
            margin-left: 1em;
            margin-right: 1em;
        }

        .play-pause-button {
            margin-left: 1em;
        }
    }
}