.array-viewer {
    font-size: 0.75em;
    border-collapse: collapse;
    border: #AAA 2px solid;
    fill-opacity: 0.8;

    & > tr {
        & > td {
            background: #8AF;
            border: #BBB 1px solid;
            padding: 0.2em 0.5em;
            min-width: 2em;
        }

        & > .key {
            font-variant: small-caps;
            text-align: center;
        }

        & > .value {
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }

        & > .empty {
            text-align: center;
            font-style: italic;
        }
    }
}