.allowed-functionality {
    line-height: 2em;
    width: 2em;
    background: #AAF;
    border: 1px solid #BBF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    cursor: default;
}