.car-simulation-summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: fit-content;
    margin: 1em auto;

    .header {
        color: white;
        background: black;
        text-align: center;
        font-variant: small-caps;
    }

    .functionality {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 200%;
    }

    .max-steps {
        text-align: center;
        line-height: 2em;
        font-size: 200%;
        background: #AAF;
    }
}