.object-viewer {
    border-collapse: collapse;
    border: #88F 2px solid;

    td {
        background: #AAF; 
        border: #88F 1px solid;
        padding: 0.2em 0.5em;

        &:first-child {
            background: #AAA;
        }
    }

    .key {
        font-variant: small-caps;
        text-align: right;
    }

    .value {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }

    .empty {
        text-align: center;
        font-style: italic;
    }
}