.play-pause-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: default;
    text-align: center;
    background: #AAF;
    width: 2em;
    height: 2em;

    &:hover {
        background: #CCF;
    }
}