.score-viewer {
    background: #F82;
    border-collapse: collapse;

    &.perfect {
        background: #AFA;
    }

    &.zero {
        background: #FAA;
    }

    td {
        text-align: center;
        font-weight: bold;
        width: 2em;
        border: 1px solid #888;
        user-select: none;
        cursor: default;
    }
}