.toc {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-content: stretch;

    .section {
        .difficulty {
            text-align: center;
            background: black;
            padding: 0.2em;

            .difficulty-viewer {
                color: white;
            }
        }

        .caption {
            min-width: 10em;
            text-align: center;
            font-variant: small-caps;
            background: black;
            color: white;
            padding: 2px 0.5em;
            cursor: pointer;
            user-select: none;

            &:hover {
                background: #444;
            }
        }
    }

    .section.active {
        .caption {
            background: #AAF;
        }
    }

    .total {
        .caption {
            background: black;
            color: white;
            text-align: center;
            font-variant: small-caps;
            font-weight: bold;
            padding: 2px 0.5em;
            cursor: pointer;
            user-select: none;
        }
    }
}