@import 'exercise';


.interpretation.exercise {
    @extend .exercise;

    .source-code-viewer {
        width: 50%;
        margin: 1em auto;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .form {
        margin: 1em auto;
        border-collapse: collapse;
        border: 1px solid black;
        box-shadow: 5px 5px gray;
    
        tr {
            th {
                border-bottom: 1px solid black;
                background: #AAA;
            }
    
            td {
                padding: 0.25em 1em;
                text-align: center;
                font-family: 'Courier New', Courier, monospace;
            }
        }
    
        input {
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }

        input.correct {
            background: #AFA;
        }

        input.incorrect {
            background: #FAA;
        }
    }
}
