.explanation {
    width: 60%;    
    border: 1px solid black;
    box-shadow: 5px 5px #CCC;
    background: #EED;    

    header {
        background: #AAF;
        font-size: 150%;
        padding: 0.2em 0.5em;
    }

    .explanation-container {
        padding: 1em;
    }
}