.invalid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: #FAA;
    border: 1px solid red;

    .message {
        font-weight: bold;
        background: #F88;
    }
}